<div class="datepicker-input">
    <input type="text" ng-model="$ctrl.ngModel" ng-readonly="true" ng-click="$ctrl.showPicker()" ng-focus="$ctrl.showPicker()"  />
</div>
<div class="datepicker" ng-show="$ctrl.selecting">
    <div class="header">
        <i class="previousMonth fa fa-chevron-left left" ng-click="$ctrl.previousMonth()"></i>
        <button type="button" class="month">{{ $ctrl.month() }}</button>
        <button type="button" class="year">{{ $ctrl.year() }}</button>
        <i class="nextMonth right fa fa-chevron-right" ng-click="$ctrl.nextMonth()"></i>
    </div>
    <ul class="days">
        <li class="weekend">S</li>
        <li>M</li>
        <li>T</li>
        <li>W</li>
        <li>T</li>
        <li>F</li>
        <li class="weekend">S</li>
    </ul>
    <ul class="dates">
        <li ng-repeat="date in $ctrl.dates()" ng-click="$ctrl.selectDate(date.moment)" ng-class="$ctrl.dateClass(date.moment)">{{ date.date }}</li>
    </ul>
</div>